<aside class="w-80 bg-white  fixed top-0 right-10 h-full mt-10 p-4">
    <div class="flex justify-between items-center mb-6 noto">
        <span class="flex items-center text-xl font-bold">
            🏆 <span class="ml-2">5</span>
        </span>
        <span class="flex items-center text-xl font-bold noto">
            🔥 <span class="ml-2">15 วัน</span>
        </span>
    </div>

    <div class="bg-yellow-100 rounded-lg p-4 noto">
        <h3 class="text-lg font-bold mb-2">กิจกรรม</h3>
        <p class="text-gray-700">ในขณะนี้ยังไม่มีกิจกรรมอะไร...</p>
    </div>

    <button class="noto w-full bg-blue-500 text-white py-2 px-4 rounded-lg mt-6 hover:bg-blue-600">
        แชร์ผลงานของคุณ
    </button>
</aside>