    <aside class="w-80 bg-white fixed top-0 right-10 h-full mt-10 p-4 ">
        <!-- โปรไฟล์ผู้ใช้ -->
        <div class="flex items-center space-x-4 mb-6">
            <div class="w-12 h-12 rounded-full overflow-hidden border border-black flex-shrink-0 ">
                {% if request.user.profile_picture %}
                <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture" class="w-full h-full object-cover">
                {% else %}
                <div class="w-full h-full flex items-center justify-center bg-gray-200">
                    <i class="text-gray-600 text-lg">👤</i>
                </div>
                {% endif %}
            </div>
            <span class="text-xl font-bold text-gray-900 noto">
                {{ request.user.username }}
            </span>
        </div>
    
        <!-- อันดับของผู้ใช้ -->
        <div class="bg-yellow-100 rounded-lg p-4 mb-6 relative border">
            <div class="flex justify-between items-center mb-2">
                <h3 class="text-lg font-bold">อันดับ</h3>
                <a href='/ranking' class="text-gray-500 hover:underline">ดู</a>
            </div>
            {% if user_rank and user_rank != "N/A" and user_rank != "None" %}
                <p class="text-gray-700">คุณอยู่ที่อันดับ #{{ user_rank }}</p>
            {% else %}
                <p class="text-gray-700">คุณยังไม่มีอันดับ</p>
            {% endif %}
            <p class="text-sm text-gray-600">ตักบาตรเพิ่มขึ้นเพื่อเลื่อนระดับของคุณ...</p>
        </div>
    
        <!-- ข่าวสารล่าสุด -->
        <div class="bg-yellow-100 rounded-lg p-4 relative border">
            <div class="flex justify-between items-center mb-2">
                <h3 class="text-lg font-bold">ข่าวสาร</h3>
                <a href="/news" class="text-gray-500 text-sm hover:underline">ดู</a>
            </div>
            {% if latest_news %}
            <p class="text-gray-700 font-semibold truncate w-64" title="{{ latest_news.title }}">
                {{ latest_news.heading|truncatechars:50 }}
            </p>
            <p class="text-sm text-gray-600 truncate w-64" title="{{ latest_news.content }}">
                {{ latest_news.content|truncatechars:100 }}
            </p>
            {% else %}
            <p class="text-gray-700">ในขณะนี้ยังไม่มีกิจกรรมอะไร...</p>
            {% endif %}
        </div>
    
    
    <!-- ป๊อปอัพสำหรับถ่ายและอัพโหลดรูป -->

