{%extends  'base/base.html'%}
{%block main%}

<main class="flex-grow p-6 bg-white">
    <div class="max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold text-[#E2A226] mb-6 baloo-bhai">แชท</h1>
        <div class="space-y-4">
            <!-- รายการแชท -->
            <div class="flex items-center bg-yellow-100 rounded-lg p-4 shadow cursor-pointer hover:bg-yellow-200">
                <div class="w-12 h-12 bg-gray-300 rounded-full flex-shrink-0"></div>
                <div class="ml-4">
                    <h2 class="text-xl font-bold noto">วัด 1</h2>
                    <p class="text-gray-700 text-sm">ข้อความล่าสุด...</p>
                    <a href="/chat/1" class="block"></a>
                </div>
            </div>
            <div class="flex items-center bg-yellow-100 rounded-lg p-4 shadow cursor-pointer hover:bg-yellow-200">
                <div class="w-12 h-12 bg-gray-300 rounded-full flex-shrink-0"></div>
                <div class="ml-4">
                    <h2 class="text-xl font-bold noto">วัด 2</h2>
                    <p class="text-gray-700 text-sm">ข้อความล่าสุด...</p>
                </div>
            </div>
            <div class="flex items-center bg-yellow-100 rounded-lg p-4 shadow cursor-pointer hover:bg-yellow-200">
                <div class="w-12 h-12 bg-gray-300 rounded-full flex-shrink-0"></div>
                <div class="ml-4">
                    <h2 class="text-xl font-bold noto">วัด 3</h2>
                    <p class="text-gray-700 text-sm">ข้อความล่าสุด...</p>
                </div>
            </div>
        </div>
    </div>
</main>

{%endblock%}
