<aside class="w-64 bg-white h-screen p-4 shadow-lg border-1black">
    <h2 class="text-4xl font-bold text-[#E2A226] mb-8 text-center baloo-bhai mt-5">Monklingo</h2>
    <ul class="space-y-4">
        <li class="flex items-center">
            <span class="mr-2"></span> 
            <a href="#" class="text-black hover:text-yellow-400 noto text-2xl">เส้นทาง</a>
        </li>
        <li class="flex items-center">
            <span class="mr-2"></span> 
            <a href="#" class="text-black hover:text-yellow-400 noto text-2xl">ตารางคะแนน</a>
        </li>
    </ul>

    <div class="mt-4">
        <button class="w-full text-black hover:bg-[#f5dba9]">
            <a class="noto text-2xl">การตั้งค่า</a>
        </button>
    </div>
</aside>

